@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

td {
  padding: 0.5em;
  background-clip: padding-box;
}

tr.space-under>td {
  padding-bottom: 2em;
}